{% extends "base.html" %}

{% block outdated %}
  Insider: You're not viewing the latest version.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to latest.</strong>
  </a>
{% endblock %}

{% block announce %}
Insider: Document versions starting from 3.6.0 contain Community Edition features only. For Enterprise documentation, please <a href="https://yueshu.com.cn/contact">Contact us</a>. <a href="{{ '../' ~ base_url }}"> 
  <strong>Click here to go to latest.</strong>
</a>

{% endblock %}
